/* EstilosProyecto.css */

.navbar {
  background-color: #281c24;
  padding: 17px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

  
  .navbar-nav {
    display:flow-root;
    font-size:x-large;
    text-align: left;
    margin-left: 120px;
    word-spacing: 1em;
   }

  .Logo{
    position:absolute;
    height: 80px;
    width: 80px;
    left: 20px;   
    margin-top: -23px;
  }
  .Error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
  }
  
  .carrito{
    position:absolute;
    right: 99px;
    margin-top: -20px;
    width: 30px;
    height: 30px;  
  }
  .carrito2 {
    position: absolute; 
    margin-top: -20px;
    right: 65px; 
    transform: translate(0, 0%);
    background-color: rgb(255, 255, 255); 
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
  }
  .cartcount{
    color: white;
    margin-left: 96%;
    margin-top: -20px;
  }


/***************************************************/


/*estilos del contador*/

.count {
  margin-left: 39%;
}

.bt1 {
  
align-items: center;
border-radius: 5px;
}
.bt2 {
 
  border-radius: 5px;
  margin-top: -200px;

  }
.bt3 {

  align-items: center;
  border-radius: 5px;
    }





/********************************/

  .electricas{
   font-family: 'Times New Roman', Times, serif;
   color: rgb(255, 255, 255);
 
  }
  
  .producto {
    cursor: pointer;
    height: 150px;
    width: 150px;
    padding: 8px;
    transition: transform 0.6s;
    position: relative;
    border-radius: 5px;
    margin: 10px; 
    align-items: center;
    margin-left: 30px;
  }

  .infopantalla {
    background-color: rgb(255, 255, 255);
    margin-top: -2px;
    font-size: large;
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: auto; 
    width: 108px;
    margin-left: 18px;
   
  }
  .infopantallacheckout {
    position: absolute;
    background-color: #4c494b;
    margin-top: 75px;
    margin-left: 35%;
    font-size: large;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: auto;
    width: 300px;   
    border-radius: 5px;
    padding: 5px; 
    text-align: center;
  
  }
  
  
 .infopantalla1,.infopantalla2{
    background-color: rgb(255, 255, 255);
    margin-top: -5px;
    font-size: x-large;
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: auto;
    width: auto;
   
    border-radius: 5px;
    padding: 5px; 
    text-align: center;
  }
  
 .muestra {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  align-items: center;
  padding: 20px; 
  max-width: 1280px; 
  margin: 0 auto; 
}
@media screen and (min-width: 600px) {
  .muestra {
    margin-bottom: -40px;
  }

  .producto {
    margin-bottom: 20px;
  }
}


 .info{
  border: 1px solid #1E679A;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 230px;
  height: auto;
  background-color: #ffffff;

 }

 @media screen and (max-width: 768px) {
  .navbar-nav {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .muestra .producto {
    width: calc(50% - 20px);
  }
}
.producto:hover {
  transform: scale(1.2);
}
.producto1:hover {
  transform: scale(1.1);
}

.infopantalla3{
  
  background-color: rgb(255, 255, 255);
  margin-top: -5px;
  font-size: medium;
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
  text-align: center;
}

.producto1{
  cursor: pointer;
  height: 200px;
  width: 200px;
  padding:8px;
  background-color: #f5f5f5;
  border: 1px solid #999999;
  position: relative;
  border-radius: 5px;
  margin-left: 140px;
  
  }
  .producto2{
    cursor: pointer;
    height: 150px;
    width: 150px;
    padding:8px;
    background-color: #f5f5f5;
    border: 1px solid #999999;
    position: relative;
    border-radius: 5px;
    margin-left: 13%    
    }
 
  .productoseleccionado {
    background-color: #ffffff;
    border: 1px solid #999999;
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    transition: transform 0.6s; 
    position: relative;
    margin-top: 80px;
    }
    
    .volver{
      float:left ;
      text-decoration:none;
      font-weight: 600;
      font-size: 12px;
      color:#333333;
      padding-top:1px;
      padding-bottom:1px;
      padding-left:4px;
      padding-right:4px;
      background-color:#bfbebb;
      border-color: #d8d8d8;
      border-width: 3px;
      border-style: solid;
      border-radius:35px;
      margin-left: auto;
      cursor: pointer;
      
      
    }
    .eliminar{
      float:center ;
      font-weight: 600;
      font-size: 12px;
      color:#fb2727;
      padding-top:1px;
      padding-bottom:1px;
      padding-left:4px;
      padding-right:4px;
      background-color:#bfbbbc;
      border-color: #d8d8d8;
      border-width: 3px;
      border-style: solid;
      border-radius:35px;
      cursor: pointer;      
      align-items: center;
      margin-left: 50px;
    }
  .btn-group1{
    align-items: center;
    margin-left: 190px;
  }
  
  .btn-group{
    align-items: center;
    margin-left: 215px;
  }
  
  .finalizar:hover {
    background-color: #45a049;
  }
  .finalizar:active {
    background-color: #3e8e41;
  }
  .botones-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .center-button {
    flex: 1;
    display: flex;
    margin-left: 38%;
  }
  
  .menuprincipal {
    background-color: #472d17;
    font-size: x-small;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 40px;
  }
  
  .finalizar {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
.btn {
  width: 20px;
  height: 20px;
  margin-top: -30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  margin: -20px 10px; 
}

.btn.decrement {
  background-color: #f8d7da;
}

.btn.increment {
  background-color: #d4edda;
}
.count { 
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 37%;
}

.count:hover {
  background-color: #0056b3;
}

.count:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.muestra {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; 
}

.cantidad{
  margin-top: -4px;
}

/* EstilosProyecto.css */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Establece la altura de la ventana para centrar verticalmente */
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
